.header {
    background-color: #343a40;
    color: #fff;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo img {
    height: 40px;
}
.table thead th {
    background-color: #f8f9fa;
}
.pagination-container {
    display: flex;
    justify-content: center;
}
.input-group {
    max-width: 500px;
    flex-grow: 1;
}
.toolbar {
    width: 80%;
    display: flex;
    align-items: center;
    gap: 20px;
}
/* Định dạng cơ bản cho hình ảnh */
table img.img-thumbnail{
    width: 50px;
    height: auto;
    margin-right: 5px;
    transition: transform 0.4s ease, box-shadow 0.6s ease; /* Hiệu ứng mượt */
}

/* Hiệu ứng khi trỏ chuột vào ảnh */
table img.img-thumbnail:hover {
    position: fixed;
    transform: scale(6); /* Phóng to ảnh gấp 2 lần */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Thêm hiệu ứng đổ bóng */
    z-index: 10; /* Đảm bảo ảnh nằm trên các phần tử khác */
}
